RAILS_ENV="development"
POSTGRES_HOST="docker.for.mac.host.internal"
POSTGRES_USER="liang"
POSTGRES_PASSWORD="postgres"
UID=1000 (get it in terminal with "id -u" command)
GID=1000 (get it in terminal with "id -g" command)

