RAILS_ENV="production"
POSTGRES_HOST="docker.for.mac.host.internal"
POSTGRES_USER="liang"
POSTGRES_PASSWORD="postgres"
UID=1000 (get it in terminal with "id -u" command)
GID=1000 (get it in terminal with "id -g" command)
secret_key_base: 38cef32bf1009cf937d3ea60bbb624001838d7b5ae643bc1c3585ae18acc3b51d152a34c95120a3224fa383b621f3181d07a21ab1434ef72b76121370edc64e3
RAILS_SERVE_STATIC_FILES: true
